# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarised

**Objectives:**

* Python
* Julia
* R
* SQL
* Java

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Matplotlib
3. Pandas

| Data Science Tools |
:--------------------:
| NumPy |
| TensorFlow |
| Matplotlib |

### Below are a few examples of evaluating Arithmetic expressions in Python:

In [1]:
# This is a simple arithmetic epression to multiply then add integers
x = 3
y = 4
z = 5
print((x*y)+z)

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
x = 200
y = 60
print(x/y)

3.3333333333333335

## Author
Sanjay